	<!-- footer -->
	<footer>
		<div class="container">
			<p>NPR Science News Scraping site (don't worry NPR, this is just a bootcamp assignment)</p>
		</div>
	</footer>

	<!-- jQuery CDN -->
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

	<!-- my scripts -->
	<script type="text/javascript" src="javascript/app.js"></script>

</body>
</html>