	<nav class="navbar">
		<div class="container">
	    	<div class="navbar-header">
	    		<a href="" class="navbar-bran">
	    		<img src="images/npr-sci-scraper-logo.png" alt="logo for npr science news scrape website" />
	        	NPR Science News Scraper
	        	</a>
	    	</div>
	  	</div>
	</nav>